
  <h2>Użytkownicy</h2>
  <table class="uk-table uk-table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Login</th>
      <th>E-Mail</th>
      <th>Wiek</th>
      <th>Państwo</th>
      <th>Aktywny</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users; let i = index">
      <td>{{user.id}}</td>
      <td>{{user.login}}</td>
      <td>{{user.email}}</td>
      <td>{{user.age}}</td>
      <td>{{user.country}}</td>
      <td>{{user.active}}</td>

      <td>
        <span [attr.uk-icon]="user.active ? 'check' : 'close'"></span></td>
      <td style="width: 250px">
        <a routerLink="editorUsers/{{user.id}}"><input class="uk-button uk-button-primary" value="Edytuj" type="button"> </a>
        <a (click)="removeUser(user.id)"><input class="uk-button uk-button-danger" value="Usuń" type="button"> </a>
      </td>
    </tr>
    </tbody>
  </table>

  <div>
    <a routerLink="editorUsers"> <input style="background-color: #32d296; color: white" class="uk-button" value="Dodaj użytkownika" type="button"> </a>

  </div>

