<h2>Produkty</h2>
<table class="uk-table uk-table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Nazwa</th>
    <th>Cena</th>
    <th>Ilosc</th>
    <th>Dostępnosc</th>
    <th>Akcje</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products; let i = index">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.quantity}}</td>
    <td>
      <span [attr.uk-icon]="product.available ? 'check' : 'close'"></span>
    </td>
    <td style="width: 250px">
      <a routerLink="editor/{{product.id}}"><input type="button" class="uk-button uk-button-primary" value="Edytuj"></a>
      <input (click)="removeProduct(product.id)" type="button" class="uk-button uk-button-danger" value="Usuń">
    </td>
  </tr>
  </tbody>
</table>
<div>
  <a routerLink="editor"><input style="background-color: #32d296; color: white" class="uk-button" type="button" value="Dodaj produkt"></a>
</div>
