<div style="width: 400px;margin: auto">
  <div class="uk-margin">
    <label>Nazwa</label>
    <input [(ngModel)]="product.name" class="uk-input" type="text">
  </div>
  <div class="uk-margin">
    <label>Cena</label>
    <input [(ngModel)]="product.price" type="number" step="0.01" class="uk-input">
  </div>
  <div class="uk-margin">
    <label>Ilość</label>
    <input [(ngModel)]="product.quantity" type="number" class="uk-input">
  </div>
  <div class="uk-margin">
    <label>Dostępny </label>
    <input [(ngModel)]="product.available" type="checkbox" class="uk-checkbox">
  </div>
  <input  hidden type="number">
  <a routerLink="/shop"><input class="uk-button uk-button-danger" type="button" value="Anuluj"></a>
  <input (click)="saveProduct(product)" class="uk-button uk-button-primary" type="submit" value="Zapisz">
</div>
